.searchAndFilterContainer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 63%;
  border-bottom: 1px solid grey;
  background-color: white;
}

/* SEARCH BAR  */
.searchWrap {
  width: 80%;
  padding: 20px 0px 20px 0px;
}

.searchBar {
  width: 80%;
  height: 30px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #ef7e56;
}

/* MONTH FILTER */

.monthButton {
  list-style-type: none;
  font-family: "Unica One", sans-serif;
  font-size: 2rem;
  color: #ef7e56;
  transition: color 0.4s;
}

.monthButton:hover {
  color: #cacaca;
}

.monthButton li:hover {
  color: #ded5c4;
  cursor: pointer;
}

.dropdownContent {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  z-index: 2;
  padding: 7px;
  background-color: rgb(211, 211, 211);
  transition: visibility 0.2s linear;
}

.dropdownContent a {
  color: #ef7e56;
  font-size: 1rem;
  transition: color 0.2s;
}

.dropdownContent a:hover {
  color: #cacaca;
}

.dropdownLink:hover > .dropdownContent {
  visibility: visible;
}

/* PAGE BREAKS */

@media screen and (max-width: 1080px) {
  .searchAndFilterContainer {
    width: 55%;
  }

  .monthButton {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 755px) {
  .monthButton {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 430px) {
  .monthButton {
    font-size: 0.8rem;
  }
  .dropdownContent {
    margin-left: -15px;
  }
}

@media screen and (max-width: 415px) {
  .searchAndFilterContainer {
    width: 97%;
    margin-top: 12px;
  }

  .dropdownContent {
    padding: 5px;
    margin-left: -15px;
  }

  .dropdownContent a {
    color: #ef7e56;
    font-size: 0.7rem;
    transition: color 0.2s;
  }
}
